.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 14px
      margin-top: 4px
  &-name
    font-size: 24px
    line-height: 30px
    margin-top: 4px
    margin-bottom: 0px
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-description
    font-size: 12px
    line-height: 15px
    margin-top: 0
    margin-bottom: 20px
.stars
  flex-basis: 100%
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary
  border-radius: 3px
  color: white
.rating
  max-width: 65px
  min-height: 45px
  color: white
  background-color: $primary
  border-radius: 3px
  text-align: center
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
.swiper
  width: 600px
  height: 300px
  position: relative
  border-radius: 8px
.slider
  &-button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    width: 30px
    height: 30px
    border: none
    background-color: red
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-size: 10px
    &--next
      right: 18px
      background-image: url(../image/arrow-next.svg)
    &--prev
      left: 18px
      background-image: url(../image/arrow-prev.svg)
